<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Day 7 : src/main/resources/mapper/EmpMapper.xml
     namespace = 매퍼 인터페이스 FQCN, <select id> = 메서드명 -->
<mapper namespace="com.example.hr.mapper.EmpMapper">
	<select id="selectByCond" resultType="EmpDto">
		select * from emp
	</select>

</mapper>